@font-face
	font-family 'Roboto Cn'
	src local('Roboto Bold Condensed'), local('Roboto-BoldCondensed'),
		url('../fonts/hinted-subset-Roboto-BoldCondensed.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-BoldCondensed.woff') format('woff')
	font-weight bold
	font-style normal


@font-face
	font-family 'Oswald Stencil'
	src local('Oswald Stencil Bold'), local('OswaldStencil-Bold'),
		url('../fonts/hinted-subset-OswaldStencil-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-OswaldStencil-Bold.woff') format('woff')
	font-weight bold
	font-style normal


@font-face
	font-family 'Roboto'
	src local('Roboto Regular'), local('Roboto-Regular'),
		url('../fonts/hinted-subset-Roboto-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-Regular.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'Roboto Lt'
	src local('Roboto Medium'), local('Roboto-Medium'),
		url('../fonts/hinted-subset-Roboto-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-Medium.woff') format('woff')
	font-weight 500
	font-style normal




@font-face
	font-family 'Roboto Lt'
	src local('Roboto Light'), local('Roboto-Light'),
		url('../fonts/hinted-subset-Roboto-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-Light.woff') format('woff')
	font-weight 300
	font-style normal


@font-face
	font-family 'Roboto Slab'
	src local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
		url('../fonts/subset-RobotoSlab-Bold.woff2') format('woff2'),
		url('../fonts/subset-RobotoSlab-Bold.woff') format('woff')
	font-weight bold
	font-style normal


@font-face
	font-family 'Roboto Bk'
	src local('Roboto Black'), local('Roboto-Black'),
		url('../fonts/hinted-subset-Roboto-Black.woff2') format('woff2'),
		url('../fonts/hinted-subset-Roboto-Black.woff') format('woff')
	font-weight 900
	font-style normal






$o = 'Oswald Stencil', Arial, "Helvetica Neue", Helvetica, sans-serif

$rM = 'Roboto Lt', Arial, "Helvetica Neue", Helvetica, sans-serif
$rL  = 'Roboto Lt', Arial, "Helvetica Neue", Helvetica, sans-serif
$r = 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif
$rC = 'Roboto Cn', Arial, "Helvetica Neue", Helvetica, sans-serif
$rS = 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif

$rBk = 'Roboto Bk', Arial, "Helvetica Neue", Helvetica, sans-serif
