.customers

	&__list
		margin 0
		margin-top 102px
		padding 0
		list-style none
		display flex
		flex-wrap wrap
		+r($l)
			margin-top 79px
		+r($s)
			margin-top 45px
	&__item
		margin-bottom 45px
		// flex 1 1 auto
		+r($m)
			margin-bottom 58px
		+r($s)
			flex 1 1 50%
			text-align center
		+r($x)
			flex 1 1 100%
		img
			max-width 100%
			height auto

	&__item_1
		margin-left 201px
		+r($l)
			margin-left 110px
		+r($s)
			// margin-left 144px
			margin-left 0
			// max-width 136px 
			

	&__item_2
		margin-left 282px
		+r($l)
			margin-left 164px
		+r($s)
			// margin-left 34px
			margin-left 0
			// max-width 124px
	&__item_3
		margin-left 23px
		+r($l)
			margin-left 0
		+r($s)
			// margin-left 144px
			margin-left 0
			// max-width 70px
	&__item_4
		margin-left 349px
		+r($l)
			margin-left 225px
		+r($s)
			margin-left 0
			// max-width 87px